:root {
    --light-shade: yellow;
    --light-accent: blue;
    --brand-color: green;
    --dark-shade: red;
    --dark-accent: brown;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.LogoAndUser {
    display: flex;
    justify-content: space-between;
}

.Nav {
    background-color: purple;
    top: 0;
    position: sticky;
}
.Nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.Nav ul li {
    padding: 0 10px;
    flex-grow: 1;
    border-left: 2px solid var(--brand-color);
}
.Nav ul li:first-child {
    border-left: none;
}
.Nav ul li:hover {
    background-color: orange;
}

.Playlists ul {
    list-style-type: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 100%);
    padding-left: 0px;
    justify-content: center;
}

.Playlists ul li {
    background-color: blue;
}

.Playlists ul li img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    justify-self: center;
}

.Playlists ul li a {
    text-shadow: 1px 1px 1px hotpink;
    text-decoration: none;
    /* filter: hue-rotate(300deg); */
}
.Playlists ul li a:hover {
    /* text-shadow: 1px 1px 1px hotpink; */
    /* text-decoration: none; */
    filter: hue-rotate(250deg);
}

.Playlists .review-data p {
    display: inline-block;
}

@media only screen and (min-width: 520px) {
    /* This is only applicable for playlist thumbnail */
    .Playlists ul {
        grid-template-columns: repeat(auto-fill, 45%);
    }
}

@media only screen and (min-width: 700px) {
    /* This is only applicable for playlist thumbnail */
    .Playlists ul {
        grid-template-columns: repeat(auto-fill, 30%);
    }
}

@media only screen and (min-width: 1200px) {
    /* This is only applicable for playlist thumbnail */
    .Playlists ul {
        grid-template-columns: repeat(auto-fill, 24%);
    }
}
