:root {
    --light-shade: #f5f5eb;
    --light-accent: #baa1aa;
    --brand-color: #ec959d;
    --dark-shade: #c83951;
    --dark-accent: #45334b;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: var(--light-shade);
}

.LogoAndUser {
    display: flex;
    justify-content: space-between;
}

.Nav {
    background-color: var(--dark-shade);
    top: 0;
    position: sticky;
}
.Nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
.Nav ul li {
    /* padding: 0 10px; */
    flex-grow: 1;
    border-left: 2px solid var(--brand-color);
    text-align: center;
}

.Nav ul li:first-child {
    border-left: none;
}
.Nav ul li:hover {
    background-color: var(--brand-color);
}

.Nav ul li a {
    display: block;
    font-weight: bold;
    color: var(--light-shade);
    text-decoration: none;
}

.Playlists ul {
    list-style-type: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 100%);
    padding-left: 0px;
    justify-content: center;
}

.Playlists ul li {
    background-color: var(--light-accent);
}

.Playlists ul li img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    justify-self: center;
}

.Playlists ul li a {
    text-shadow: 1px 1px 1px var(--brand-color);
    text-decoration: none;
    /* filter: hue-rotate(300deg); */
}
.Playlists ul li a:hover {
    /* text-shadow: 1px 1px 1px hotpink; */
    /* text-decoration: none; */
    filter: hue-rotate(250deg);
}

.Playlists .review-data p {
    display: inline-block;
}

.Playlist .playlist-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: var(--dark-accent);
}

.Playlist ul {
    border: 1px red solid;
    background-color: var(--light-accent);
    padding: 10px;
    list-style-type: none;
    margin: 10px 0;
    border-radius: 10px;
}

.Playlist ul li {
    margin-bottom: 10px;
}

.Footer {
    background-color: var(--dark-shade);
    color: var(--light-shade);
}

.Footer a {
    font-weight: bold;
    color: var(--light-shade);
}

/* component padding and margins */

.Playlists,
.Playlist,
.LogoAndUser {
    margin-left: 10px;
    margin-right: 10px;
}

.Playlists ul li .playlist-info,
.Nav ul li a,
.Footer {
    padding: 10px;
}

@media only screen and (min-width: 400px) {
    /* This is only applicable for playlist thumbnail */
    .Playlists ul li img {
        height: 150px;
    }
}

@media only screen and (min-width: 520px) {
    /* This is only applicable for playlist thumbnail */
    .Playlists ul {
        grid-template-columns: repeat(auto-fill, 45%);
    }
    .Playlists ul li img {
        height: 120px;
    }
}

@media only screen and (min-width: 700px) {
    /* This is only applicable for playlist thumbnail */
    .Playlists ul {
        grid-template-columns: repeat(auto-fill, 30%);
    }
    .Playlists ul li img {
        height: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    /* This is only applicable for playlist thumbnail */
    .Playlists ul {
        grid-template-columns: repeat(auto-fill, 24%);
    }
    .Playlists ul li img {
        height: 200px;
    }
}
